h1{
	color: blue;
}
h2{
	color: blue;
}
h3{
	color: blue;
}
h4{
	color: blue;
	font-size: 20px;
}
.interests{
	font-family: cursive;
}
.izzat{
	font-size: 20px;
}
.bekzod{
	color:yellow;
}